<!DOCTYPE HTML id="vantajs">
<html id="vantajs">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/aboutus.css">
        <link rel="icon" size="16*16" href="https://cdn1.iconfinder.com/data/icons/web-development-2-9/48/83-512.png" type="image/png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Dosis:wght@600&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
        <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link
      rel="icon"
      size="16*16"
      href="https://cdn1.iconfinder.com/data/icons/web-development-2-9/48/83-512.png"
      type="image/png"
    />
        <title>Jaggery Traceability</title>
    </head>


<body id="vantajs" >
    <div id="top"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="
opacity: 0.94;">
    <a class="navbar-brand" href="/dashboard">Jaggery Traceability</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/updateprofile">Update Profile</a>
        </li>
        <%if ( role  == 'Manufacturer') { %>                                     
          <li class="nav-item active">
            <a class="nav-link" href="/allproducts">All Products</a>
          </li>
        <% } %>
        <li class="nav-item active" style="background-color:lightgray;">
          <a class="nav-link text-dark" href="#" ><b>About Us</b></a>
        </li>
      </ul>
      <span class="navbar-text white-text" style="color:white">
        <%= name %>
      </span> &nbsp;&nbsp;&nbsp;
      <a class="btn btn-danger " href="/logout">Logout</a>
    </div>
  </nav>

    <div class="p-4">

<div class="jumbotron">
    <div class="container">
    <b>
        <h1 class="text-center" id="our-team">OUR TEAM</h1>
        <br/><br/>
        <div class="row" style="font-family: 'Dosis', sans-serif; font-size: large;" >
            <div class="col-6 boxes" >
                <img src="Images/pms.png" width="250px" height="250px" class="images">
                <div class="card-body">
                  <p class="card-text text-center"><b>Dr. Priya Shelke</b></p>
                  <p class="card-text text-center">(Project Guide)</p>
                  <p class="card-text text-center">Asst. Professor at VIIT Pune</p>
                </div>
            </div>
            <div class="col-6 boxes">
                <img src="Images/Ayu.jpeg" width="250px" height="250px" class="images">
                <div class="card-body">
                  <p class="card-text text-center"><b>Mr. Ayush Bansal</b></p>
                  <p class="card-text text-center">B. Tech at VIIT Pune</p>
                </div>
            </div>
        </div>
            <br/>
        <div class="row" style="font-family: 'Dosis', sans-serif; font-size: large;" >
                <div class="col-6 boxes" >
                    <img src="Images/my.JPG" width="250px" height="250px" class="images">
                <div class="card-body">
                  <p class="card-text text-center"><b>Mr. Siddesh Vyavahare</b></p>
                  <p class="card-text text-center">B. Tech at VIIT Pune</p>
                </div>
                </div>
                <div class="col-6 boxes">
                    <img src="Images/lb.JPG" width="250px" height="250px" class="images">
                <div class="card-body">
                  <p class="card-text text-center"><b>Mr. Lokesh Budhlani</b></p>
                  <p class="card-text text-center">B. Tech at VIIT Pune</p>
                </div>
                </div>
        </div>
            <br />
        <div class="row" style="font-family: 'Dosis', sans-serif; font-size: large;" >
                <div class="col-6 boxes" >
                    <img src="Images/aadesh.jpg" width="250px" height="250px" class="images">
                <div class="card-body">
                  <p class="card-text text-center"><b>Mr. Aadesh Ingle</b></p>
                  <p class="card-text text-center">B. Tech at VIIT Pune</p>
                </div>
                </div>
                <div class="col-6 boxes">
                    <img src="Images/Ashish.jpg" width="250px" height="250px" class="images">
                <div class="card-body">
                  <p class="card-text text-center"><b>Mr. Ashish Gole</b></p>
                  <p class="card-text text-center">B. Tech at VIIT Pune</p>
                </div>
                </div>
        </div>    
      </b>
        <p style="font-size: 20px;">To read our research paper on <b style="font-style:italic">Food Supply Chains using Blockchain Technology </b><a target="_blank" href="Certificates/Paper.pdf">click here</a></p>
        <br/><br/>
        <center>
        <a href="#top">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path  href=".container " fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>  
        </a>
      </center>
    </div> 
</div>


</body>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
    VANTA.WAVES({
      el: "#vantajs",
      mouseControls: true,
      touchControls: false,
      gyroControls: false,
      minHeight: 1500.00,
      minWidth: 1000.00,
      scale: 1.00,
      scaleMobile: 1.00,
      shininess: 45.00,
      waveHeight: 10.00,
      waveSpeed: 0.50,
      zoom: 0.7
    })
    </script>

</html>
