<!doctype html >
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <link
    rel="icon"
    size="16*16"
    href="https://cdn1.iconfinder.com/data/icons/web-development-2-9/48/83-512.png"
    type="image/png"
  />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
    <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
    <script src="js/register.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="./signin.css" rel="stylesheet">
    <title>Jaggery Traceability</title>
    
  </head>

  <body class="text-center" id="sidjs">
 
  <div class="container" style="padding-top: 100px;" >
    <h1 class="display-12" > Jaggery Traceability Application </h1>
    <form  class="form-signin" id="form1" method="post" >
        <h1 class="h2 mb-3 font-weight-normal">Please Register</h1>
        <label for="Name" class="sr-only">Name</label>
        <input type="text" name="name" id="Name" class="form-control" placeholder="Name" required autofocus>  
        <br/>
        <label for="Phone-number" class="sr-only">Password</label>
        <input type="number" name="phoneno" id="Phone-number" class="form-control" placeholder="Phone Number" required> 
        <br/>
        <label for="inputEmail" class="sr-only">Email address</label>
        <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required ><br/> -->
        <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
        <label for="inputPassword" class="sr-only">Password</label>
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>  -->
        <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
        <label for="confirm-inputPassword" class="sr-only">Confirm Password</label>
        <!-- <input type="password" id="confirm-inputPassword" class="form-control" placeholder="Confirm Password" required>   -->
        <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control">

        <br/>
        <label for="role-select" class="text-align-left"><b>Select your Role </b></label>
        <select class="form-control" name="roles" id="role-select">
            <option>Manufacturer</option>
            <option>Dispatcher</option>
            <option>Transporter</option>
            <option>Distributor</option>
            <option>Wholesaler</option>
            <option>Retailer</option>
        </select>

        <button class="btn btn-lg btn-success btn-block" type="submit" id="login-btn">Register</button>
        <div style=" font-weight: bolder;">
          <span id="check"></span>
        </div>
        <div>
          <span>Already Registered! <a href="/login">Login</a></span>
        </div>
        <div id="LangTable"><a href="/login" id="aa"></a>
        </div>
        </div>
    </form>
    
</body>
<script>
    VANTA.WAVES({
      el: "#sidjs",
      mouseControls: true,
      touchControls: false,
      gyroControls: false,
      minHeight: 1000.00,
      minWidth: 1000.00,
      scale: 1.00,
      scaleMobile: 1.00,
      shininess: 45.00,
      waveHeight: 10.00,
      waveSpeed: 0.50,
      zoom: 0.7
    })
    </script>
</html>
